<!DOCTYPE html>
<html>
<head>
  <title>Grammar Correction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <form action="/correct_grammar" method="POST">
          <div class="form-group">
            <label for="sentence">입력:</label>
            <input type="text" class="form-control" id="sentence" name="sentence" placeholder="Enter a sentence">
          </div>
          <button type="submit" class="btn btn-primary">Correct Grammar</button>
        </form>
      </div>

      <div class="col-md-6">
        {% if sentence %}
          <h3>사용자 입력 문장:</h3>
          <p style="color:red">{{ sentence }}</p>
        {% endif %}

        {% if corrected_sentence %}
          <h3>교정 문장:</h3>
          <p style="color:green">{{ corrected_sentence }}</p>
        {% endif %}
      </div>
    </div>
  </div>

</body>
</html>